.post
  .title
    a(href="#")
      span #{ value.author }
    if value.content
      label #{ value.content.type }
    #{ value.timestamp }
    a(href="#") Time
    div(style: "width: 450px; overflow: hidden;")
      pre
        #{ value }
