//- .post
//-   .title
//-     a(href="#")
//-       span span_contents
//-     label curation
//-     a(href="#") Time
//-     div(style: "width: 450px; overflow: hidden;")
//-       pre
//-         #{ self.value }
